@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  margin: 0 24px;
  margin: 0 24px;
  
  background-color: #F5EFE7;  
  color: #1e1e1f;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
}